<header class="container-fluid">
  <div>
    <h1>the riptide rhythm</h1>
  </div>
</header>
<nav class="nav justify-content-end">
  <a class="nav-link" href="/">home</a>
  <a class="nav-link" href="/">about</a>
  <a class="nav-link" href="/">archives</a>
</nav>
