<div class="container list">
  <div class="row">
    <div class="col-lg-8 col-12">
    <div class="row">
      <div class="col-12">
        <h2 class="list-link"><a href="/">Know thy Power</a></h2>
      </div>
      <div class="col-12 labels">
        <a class="label" href="/">guitar</a>
        <a class="label" href="/">effects</a>
      </div>
      <div class="col-12">
        <p>These are the most common questions that I get asked when people first get started. How should I power my pedals? Should I use 9v or 18v? Why do you need a clean power supply? What is wrong with a daisy chain? So many questions on what you would believe to be a simple topic, right? Actually, this is where the most common mistakes are made. I have seen people fry pedals and make a really good sounding pedal sound really bad just from giving it the wrong voltage.<a href="">Read On</a></p>
      </div>
    </div>
  </div>
  </div>
</div>
